{% extends "AppBundle::layout.html.twig" %}

    {% block sidebar %}
        {{ parent() }}
        <ul class="menu">
            <li>
                <a href="/campagne">
                    <div class="menuCol">
                        <span class="glyphicon glyphicon-book"></span> Campagne
                    </div>
                </a>
            </li>
            <li>
                <a href="/contatti/{{ campaign }}">
                    <div class="menuColSelect">
                        <span class="glyphicon glyphicon-th-list"></span> {{ campaign }}
                    </div>
               </a>
           </li>
        </ul>
        {% endblock %}
        {% block content %}
            </div>
            <div class="col-md-10 content">
                <h1>{{ campaign }}</h1>
                <div class="tableHeadContainer">
                    <table class="table table-bordered tableContactsOperatorHead">
                        <th>Nome cognome</th>
                        <th>Telefono</th>
                        <th>Risposta</th>
                    </table>
                </div>
                <div class="tableContactsOperatorContainer">
                    <table class="table table-bordered table-hover tableContactsOperator">
                        {% for chiamata in report %}
                        <tr>
                            <td>
                                <a role="button" class="btn btn-default btn-xs" href="/feedback/{{ chiamata.getId() }}">
                                <span class="glyphicon glyphicon-earphone"></span></a> {{ chiamata.getName() }}
                            </td>
                            <td>{{ chiamata.getPhone() }}</td>
                            <td><span class="glyphicon glyphicon-record {% if chiamata.getReply() == 'Positivo' %}positive{% elseif chiamata.getReply() == 'Negativo' %}negative{% elseif chiamata.getReply() == 'Da richiamare'%}toRecall{% endif %}"></span> {{ chiamata.getReply() }} <strong>{% if chiamata.getReply() == 'Da richiamare' %}{{ chiamata.getDateTime()|date('d/m/Y - H:i') }}{% endif %}</strong>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% endblock %}
