{% extends "AppBundle::layout.html.twig" %}

    {% block sidebar %}
    {{ parent() }}
        <ul class="menu">
            <li>
                <a href="/campagne">
                    <div class="menuCol">
                        <span class="glyphicon glyphicon-book"></span> Campagne
                    </div>
                </a>
            </li>
            <li>
                <a href="/contatti/{{ report.getCampaign() }}">
                    <div class="menuCol">
                        <span class="glyphicon glyphicon-th-list"></span> {{report.getCampaign() }}
                    </div>
                </a>
            </li>
            <li>
                <a href="/feedback/{{ report.getId() }}">
                    <div class="menuColSelect">
                       <span class="glyphicon glyphicon-earphone"></span> {{ report.getName() }}
                    </div>
                </a>
            </li>
        </ul>
        {% endblock %}
        {% block content %}
            </div>
            <div class="col-md-7 content">
                <h1>{{ report.getCampaign() }} - {{ report.getName() }}</h1>
                <div class="containerFeedbackTable">
                    <table class="table table-bordered tableFeedback">
                        <tr>
                            <th>Telefono:</th>
                            <th>{{ report.getPhone() }}</th>
                        </tr>
                        <tr>
                            <td>Nome cognome:</td>
                            <td>{{ report.getName() }}</td>
                        </tr>
                        <tr>
                            <td>Email: </td>
                            <td>{{ report.getEmail() }}</td>
                        </tr>
                        <tr>
                            <td>Status:</td>
                            <td><span class="glyphicon glyphicon-record {% if report.getReply() == 'Positivo' %}positive{% elseif report.getReply() == 'Negativo' %}negative{% elseif report.getReply() == 'Da richiamare'%}toRecall{% endif %}"></span> {{ report.getReply() }}
                            {% if report.getReply() == 'Da richiamare'%}
                            {{ report.getDateTime()|date('d/m/Y - H:i') }}
                            {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Chiamate effettuate:</td>
                            <td>
                                <select id="dateCallSelector">
                                    <option selected="selected">---</option>
                                    <option value="1">02/10/2015 - 12:34</option>
                                    <option value="2">26/09/2015 - 09:28</option>
                                    <option value="3">15/09/2015 - 16:45</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="feedbackNote">
                    {{ form_start(form) }}
                    <label for="note">Note:</label><br/>
                    {{ form_widget(form.note) }}
                </div>
            </div>
            <div class="col-md-3 content">
                <div class="replyFeedbackContainer">
                    <legend>Feedback chiamata:</legend>
                    <form id="replyFeedback" method="POST">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div role="tab" id="headingOne">
                                    <a class="btn btn-default replyButton" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><span class="glyphicon glyphicon-record positive"></span> Positiva
                                    </a>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="contenitore-subject">
                                            {{ form_widget(form.comment.children[0]) }}
                                            {{ form_label(form.comment.children[0]) }}<br/>
                                            {{ form_widget(form.comment.children[1]) }}
                                            {{ form_label(form.comment.children[1]) }}
                                            {{ form_widget(form.positiveComment) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div role="tab" id="headingTwo">
                                    <a class="collapsed btn btn-default replyButton" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><span class="glyphicon glyphicon-record negative"></span> Negativa
                                    </a>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <div class="contenitore-subject">
                                            {{ form_widget(form.comment.children[2]) }}
                                            {{ form_label(form.comment.children[2]) }}<br/>
                                            {{ form_widget(form.comment.children[3]) }}
                                            {{ form_label(form.comment.children[3]) }}<br/>
                                            {{ form_widget(form.comment.children[4]) }}
                                            {{ form_label(form.comment.children[4]) }}
                                            {{ form_widget(form.negativeComment) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div role="tab" id="headingThree">
                                    <a class="collapsed btn btn-default replyButton" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <span class="glyphicon glyphicon-record toRecall"></span> Da richiamare
                                    </a>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        {{ form_widget(form.comment.children[5]) }}
                                        {{ form_label(form.comment.children[5]) }} <span class="glyphicon glyphicon-calendar"></span><br/>
                                        {{ form_widget(form.dateTime, {'attr': {'name': 'dateTime'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_widget(form.save, {'attr': {'class': 'btn btn-default saveFeedbackButton'}}) }}
                    </form>
                    {{ form_end(form) }}
                </div>
            </div>
        {% endblock %}
        {% block javascript %}
        {{ parent() }}
            <script type="text/javascript" src="/bundles/js/calendario.js"></script>
            <script type="text/javascript" src="/bundles/js/selettore.js"></script>
        {% endblock %}
