{% extends "AppBundle::layout.html.twig" %}

    {% block sidebar %}
    {{ parent() }}
                <ul class="menu">
                    <li>
                        <a href="/report">
                            <div class="menuCol">
                                <span class="glyphicon glyphicon-book"></span> Report
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/operatori">
                            <div class="menuCol">
                                <span class="glyphicon glyphicon-user"></span> Operatori
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/modifica/{{ operatore.getId() }}">
                            <div class="menuColSelect">
                                <span class="glyphicon glyphicon-pencil"></span> {{ operatore.getLastname() }}
                            </div>
                        </a>
                    </li>
                </ul>
            {% endblock %}
            {% block content %}
            </div>
            <div class="col-md-10 content">
                <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content alert">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4>Eliminare {{ operatore.getFirstname() }} {{ operatore.getLastname() }}?</h4>
                            {{ form_start(form) }}
                            {{ form_widget(form.remove, {'attr': {'class': 'btn btn-default deleteButton'}}) }}
                        </div>  
                    </div>
                </div>
                <h1>Modifica {{ operatore.getFirstname() }} {{ operatore.getLastname() }}</h1>
                <div class="modifyOperatorContainer">
                    <form method="POST" class="form-horizontal">
                        <table>
                            <tr>
                                <td>
                                    {{ form_label(form.email) }}
                                    {{ form_widget(form.email) }}
                                    {{ form_label(form.plainPassword) }}
                                    {{ form_widget(form.plainPassword) }}
                                </td>
                                <td>
                                    {{ form_label(form.firstname) }}
                                    {{ form_widget(form.firstname) }}
                                    {{ form_label(form.lastname) }}
                                    {{ form_widget(form.lastname) }}
                                </td>
                            </tr>
                            <tr>
                                <td>                                
                                    <button type="button" class="btn btn-default btn-xs deleteButton" data-toggle="modal" data-target=".bs-example-modal-sm"><span class="glyphicon glyphicon-trash"></span> Elimina</button>
                                </td>
                                <td>
                                    <div>
                                    {{ form_widget(form.status) }}
                                    </div>
                                </td>
                            </tr>
                        </table>
                        {{ form_widget(form.save, {'attr': {'class': 'btn btn-default saveButton'}}) }}
                    </form>
                    {{ form_end(form) }}
                </div>
            </div>      
        </div>
    </div>
    {% endblock %}