{% extends "AppBundle::layout.html.twig" %}

    {% block sidebar %}
    {{ parent() }}
                <ul class="menu">
                    <li>
                        <a href="/report">
                            <div class="menuCol">
                                <span class="glyphicon glyphicon-book"></span> Report
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/operatori">
                            <div class="menuCol">
                                <span class="glyphicon glyphicon-user"></span> Operatori
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/nuovo">
                            <div class="menuColSelect">
                                <span class="glyphicon glyphicon-plus-sign"></span> Nuovo operatore
                            </div>
                        </a>
                    </li>
                </ul>
            {% endblock %}
            {% block content %}
            </div>
            <div class="col-md-10 content">
                <h1>Nuovo operatore</h1>
                <div class="modifyOperatorContainer">
                    <form method="POST" action="#" class="form-horizontal">
                        <table>
                            <tr>
                                <td>
                                    {{ form_start(form) }}
                                    {{ form_label(form.email)}}
                                    {{ form_widget(form.email)}}
                                    {{ form_label(form.plainPassword)}}
                                    {{ form_widget(form.plainPassword)}}
                                </td>
                                <td>
                                    {{ form_label(form.firstname)}}
                                    {{ form_widget(form.firstname)}}
                                    {{ form_label(form.lastname)}}
                                    {{ form_widget(form.lastname)}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                    {{ form_widget(form.status)}}
                                    </div>
                                </td>
                                <td>
                                    
                                </td>
                            </tr>
                        </table>
                        {{ form_widget(form.save, {'attr': {'class': 'btn btn-default saveButton'}})}}
                    </form>
                    {{ form_end(form)}}
                </div>
            </div>      
        </div>
    </div>
    {% endblock %}