{% extends "AppBundle::layout.html.twig" %}

    {% block sidebar %}
    {{ parent() }}
                <ul class="menu">
                    <li>
                        <a href="report">
                            <div class="menuCol">
                                <span class="glyphicon glyphicon-book"></span> Report
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="operatori">
                            <div class="menuColSelect">
                                <span class="glyphicon glyphicon-user"></span> Operatori
                            </div>
                        </a>
                    </li>
                </ul>
            {% endblock %}
            {% block content %}
            </div>
            <div class="col-md-10 content">
                <h1>Operatori</h1>
                <div class="tableHeadContainer">
                <table class="table table-bordered tableOperatorAdminHead">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Operatori</th>
                            <th>E-mail</th>
                            <th>Chiamate (effettuate / totali)</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
                </div>  
                <div class="tableOperatorAdminContainer">
                    <table class="table table-bordered tableOperatorAdmin table-hover">
                        <tbody>
                            {% for operatore in operatori %}
                            <tr>
                                <td>{{ operatore.getStatus() }}</td>
                                <td>{{ operatore.getFirstname() }} {{ operatore.getLastname() }}</td>
                                <td>{{ operatore.getEmail() }}</td>
                                <td>{{ operatore.getAssignedCalls() }}</td>
                                <td><a role="button" class="btn btn-default btn-xs" href="modifica/{{ operatore.getId() }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><a role="button" class="btn btn-default btn-xs" href="nuovo"><span class="glyphicon glyphicon-plus-sign"></span></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>      
        </div>
    </div>
    {% endblock %}